<div class="container">
  <h1>Reading List</h1>

  <div class="row search-box">
    <!-- <p class="col-12 search-heading">
            Search Tasks :
        </p>
 -->

    <div class="col-md-6 col-lg-4">
      <div class="search-div input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Search"
          placeholder="Search"
        />
      </div>
    </div>
  </div>

  <div class="add=div">
    <button (click)="addBook()" class="btn btn-outline-primary utility-btns">
      Add
    </button>
  </div>

  <div class="tasks-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Book Name</th>
          <th scope="col">Author</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col">Completed</th>
          <th scope="col">Completed On</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of books; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.bookName }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.completed ? "Yes" : "No" }}</td>
          <td>{{ item.completedOn }}</td>
          <td>
            <button (click)="deleteBook(item.id)" class="btn btn-danger me-2">
              Delete
            </button>
            <button (click)="editBook(item)" class="btn btn-warning">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
