<div class="container">

    <h1>
        Task Manager
    </h1>

    <div class="row search-box">
        <!-- <p class="col-12 search-heading">
            Search Tasks :
        </p>
 -->

        <div class="col-sm-6">
            <div class="search-div input-group mb-3">
                <input type="text" class="form-control" aria-label="Search" placeholder="Search">
            </div>
        </div>
    </div>

    <div class="add=div">
        <button (click)="addTask()" class="btn btn-outline-primary utility-btns">
            Add
        </button>
    </div>
</div>