<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="addTaskForm">
    <div class="mb-3">
      <label for="name">Task Name</label>
      <div class="input-group">
        <input
          class="form-control"
          formControlName="name"
          type="text"
          placeholder="Task Name"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6">
        <label for="start_date">Start Date</label>
        <div class="input-group">
          <input
            class="form-control"
            formControlName="start_date"
            type="date"
          />
        </div>
      </div>
      <div class="col-6">
        <label for="end_date">End Date</label>
        <div class="input-group">
          <input
            class="form-control"
            formControlName="end_date"
            type="date"
          />
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="description">Task Description</label>
      <div class="input-group">
        <textarea
          formControlName="description"
          class="form-control"
          id="description"
          cols="30"
          rows="3"
        ></textarea>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
